.headerClient {
    display: flex;
    width: auto;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;

    img {
        max-width: 160.423px;
        width: 100%;
        height: 24.011px;
    }

    .call-timer {}

}